* { 
    margin: 0px;
    background: white;
    color: black;
    list-style-type: none;
    text-decoration: none;
    transition: all 0.2s;
    font-family: "Afacad Flux", sans-serif;
    overflow-x: hidden;
}

body {
    margin: 10px;
}
.dark-mode {
    background: black;
    color: white;
}

button {
    cursor: pointer;
    margin: 7px;
    border-radius: 10px;
    box-shadow: 4px 4px black;
    &:hover { 
        transform: translateY(-5px);
        box-shadow: 7px 7px black;
        &:active { 
            transform: translateY(5px);
            box-shadow: 1px 1px black;
        }
    }
}
.nav {
    display: flex;
    flex-direction: row;
    width: 50vw; 
    margin: 10px;
}

.nav > button {
    padding: 10px;
    width: 100%;
    font-size: 2rem;
}
.badge{
    background: transparent;
    position: absolute;
    font-size: 1.2rem;
    color: blue;
    margin-left: 5px;
}

.card {
    display: flex;
    flex-direction: column;
    margin: 20px;
    border: 2px solid black;
    padding: 10px;
    border-radius: 10px;
    width: 70vw;
}
.card-name{
    padding: 10px;
}
.color_cust {
    background: burlywood;
}

.btn-card > button {
    padding: 5px;
    font-size: medium;
}

.todo-input {
    margin: 10px;
    padding: 10px;
    display: flex;
    flex-direction: row;
    width: 100%;
}

.todo-input > input {
    width: 20vw;
    font-size: 1.2rem;
    padding: 10px;
    box-sizing: border-box;
    border: 2px solid black;
    border-radius: 10px;
    margin-right:10px;
}
.todo-input > button {
    background-color: skyblue;
    font-size: 1.2rem;
}